
kubernetes/bitnami/kafka/lloyd.md
docker/graphql/old/book-details-0.0.2.jar
docker/graphql/old/book-details-0.0.4.jar
docker/graphql/old/docker-run copy.sh
docker/graphql/old/Dockerfile
docker/graphql/old/Dockerfile copy
kubernetes/graphql/old/bookdetails-deployment-0.0.4.yaml
kubernetes/graphql/old/bookdetails-deployment.yaml
kubernetes/tomcat/tomcat-deployment.backup
kubernetes/tomcat/tomcat-deployment.backup
kubernetes/tomcat/tomcat-deployment.backup
kubernetes/tomcat/temp/tomcat-deployment.working
kubernetes/tomcat/tomcat-deployment.backup
kubernetes/tomcat/temp/tomcat-deployment.notworking
kubernetes/tomcat/temp/tomcat-deployment.backup
kubernetes/tomcat/temp/datadog-values copy.yaml
docker/tomcat.zip
logs/time-difference/curl/LW_send_warn_log.sh
logs/time-difference/curl/LW_loop_send_100_info_logs.sh
kubernetes/datadog/temp/1-create-secrets.sh
kubernetes/datadog/temp/datadog-values.yaml
kubernetes/datadog/temp/secrets.yaml
kubernetes/datadog/secrets.yaml
kubernetes/datadog/secrets.yaml
kubernetes/datadog/RC-remove-context.sh
kubernetes/datadog/helm-install-notes.txt
kubernetes/datadog/DS-delete-secrets.sh
kubernetes/datadog-operator/temp/4-kubectl-apply-operator.sh
kubernetes/datadog-operator/temp/datadog-operator.yaml
kubernetes/payroll/azure-aks/template/parameters.json
kubernetes/payroll/azure-aks/template/template.json
*.log
kubernetes/C-Google.sh
kubernetes/C-Azure-NDM.sh
kubernetes/C-lloyd-aks-payroll.sh
kubernetes/C-CONTEXTS.sh
kubernetes/C-UNSET-CONTEXT.sh
kubernetes/payroll/azure-aks/config-unset.sh
kubernetes/payroll/docker/datadog-agent-run.sh
kubernetes/payroll/azure-aks/config-unset.sh
kubernetes/payroll/docker/docker-containers.sh
kubernetes/payroll/docker/docker-env.sh
kubernetes/payroll/docker/docker-machines.sh
kubernetes/payroll/docker/docker-run.sh
kubernetes/payroll/docker/target/payroll-1.0.2.jar
kubernetes/payroll/docker/target/payroll-1.0.5.jar
kubernetes/payroll/docker/temp/payroll-1.0.5.jar
kubernetes/payroll/azure-aks/config-unset.sh
kubernetes/payroll/docker/OLD-Dockerfile
kubernetes/payroll/helm-datadog-agent/backup/datadog-values.yaml.2022-10-27
kubernetes/payroll/helm-datadog-agent/backup/datadog-values.yaml.2022-10-28
kubernetes/payroll/helm-datadog-agent/backup/datadog-values.txt
kubernetes/payroll/helm-datadog-agent/datadog-values.1
kubernetes/payroll/helm-datadog-agent/datadog-values.txt
